/* src/App.css */
.App {
  text-align: center;
}

button {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

p {
  font-size: 20px;
  font-weight: bold;
}

h2, h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.tabuleiro {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.trilha {
  margin: 10px;
}

.trilha h3 {
  text-align: center;
}

.casa {
  width: 50px;
  height: 50px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: rgb(253, 0, 0);
}




